@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-color: #999;
	color: white;
	background-image: url(img/bg.jpg);
	background-repeat: repeat-x;
}
	.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#wrapper {
background-color:#fdf8f2;
color: black;
margin: 30px 40px 30px 40px;
padding: 10px;
}
#header-bottom{
border-top: 1px solid #b9d2e3;
border-bottom: 1px solid #b9d2e3;
}

#header-bottom ul{
margin: 0;
padding: 0;
padding: 0 30px 0 0;
text-align: right;
}

#header-bottom li{
	display: inline;
	background-color: #fdf8f2;
	color: #990000;
}

#header-bottom a:link, #header-bottom a:visited {
text-decoration: none;
background-color:#fdf8f2;
color:#990000;
}

#tagline {
font-weight: bold;
background-color: #fdf8f2;
color: #050845;
font-style: italic;
margin: 0;
padding: 0 0 0 20px;
width: 400px;
float: left;
}
#ball{
	position: absolute;
	top: 128px;
	right: 52px;
}
#mainfeature p.more a,
#content .inner p.more a {
  background: none;
  padding: 8px 12px;
  border: 1px solid #245185;
  border-radius: 4px;
  color: #245185;
  text-decoration: none;
  font-size: 90%;
}
#mainfeature p.more a:hover,
#content .inner p.more a:hover {
  background-color: #245185;
  color: white;
}

#main{
margin-top: 10px;
position: relative;
top: 0;
left: 0;
width: 100%;
}
#content{
margin: 0 240px 0 0; 
border: 1px solid #b9d2e3;
background-color: white;
color: black;
}
#mainfeature {
background-image:none;
background-repeat:no-repeat;
background-color: #112236;
color: white;
padding: 2em 2em 1em 200px;
}
#mainfeature h2{
margin: 0;
font-weight: normal;
font-size: 140%;
}

#mainfeature p{
font-size:110%;
}

#mainfeature p.more{
margin-top: 0;
text-align: right;
}

#mainfeature p.more a:link, #mainfeature p.more a:visited {
color: white;
background-image: none;
background-repeat: no-repeat;
background-position: center left;
padding: 14px;
}
#content .inner{
margin: 10px 20px 10px 40px;
}

#content .inner h2{
color: #245185;
padding-bottom: 0.2em;
border-bottom: 1px solid #b9d2e3;
font-size: 110%;
}

#content .inner h3{
font-size: 130%;
}

#content .inner h3 a:link, #content .inner h3 a:visited{
color: #245185;
}

#content .inner p{
color: #666666;
font-size: 90%;
}

#content .inner .features li img{
float: left;
margin: 0 5px 5px 0;
}

#content .inner p.author {
font-weight: bold;
}

#content .inner p.more{
margin-top: 0;
text-align: right;
}

#content .inner p.more a:link, #content .inner p.more a:visited{
color: black;
background-image: none;
background-repeat: no-repeat;
background-position: center left;
padding-left: 14px;
font-size:90%;
color: #1e4c82;
}

#sidebar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 225px;
	background-color: #256290;
	color: white;
	margin: 0;
	padding: 0;
}

#sidebar h3{
font-size: 110%;
background-image: url(img/sidebar-header-bg.jpg);
background-repeat: no-repeat;
margin: 0;
padding: 0.2em 0 0.2em 10px;
font-weight: normal;
}

#sidebar ul{
list-style-image: none;
margin-left: 0;
}

#sidebar p, #sidebar li {
font-size: 90%;
line-height: 1.4em;
}

#sidebar ul a:link, #sidebar ul a:visited {
color: white;
}

#sidebar .date{
font-weight: bold;
}
/* Tablet layout */
@media screen and (max-width: 960px) {
  #wrapper {
    margin: 10px;
    padding: 5px;
  }
  #content {
    margin: 0;
    width: 100%;
  }
  #sidebar {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
}

/* Mobile layout */
@media screen and (max-width: 640px) {
  #header img {
    width: 100%;
    height: auto;
  }
  #header-bottom ul {
    text-align: center;
    padding: 0;
  }
  #header-bottom li {
    display: block;
    margin: 5px 0;
  }
  #mainfeature {
    padding: 1em;
    background-position: center;
  }
}
